################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/DatingSite/node_modules
/src/DatingSite/Properties
